*{
    text-decoration: none;
   color: black;
   border: none; 
}
.header{
    margin: 5px;
}
#language{
    margin: 0px 20px 0px 300px;
    
}
#doller{
    margin-right: 650px;
}
span{
    margin: 0px 20px;
}

hr{
    margin-top: 10px;
    width: 90%;
    border: 1px solid rgb(212, 21, 21);
    opacity:0.2;
}
h1{
    color: rgb(246, 116, 138);
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul{
    list-style: none;
    margin-left: 250px;  
}
.navbar ul li{
    position: relative;
    float: left;
    padding: 10px;
    margin-right:100px;
}
li:hover{
    background-color: antiquewhite;
}

@media (max-width:480px) {
    #language{
        margin:  0px;
        
    }
    #doller{
        margin-right: 20px;
    }
    span{
        margin: 0px 13px;
    }
    .navbar ul{
        margin-left: 100px;  
    }

    
}
@media (min-width:360px) {
  
    span{
        margin: 0px 10px;
    }
   

    
}
@media (min-width:700px) {
    #language{
        margin: 0px 10px 0px 100px;
        
    }
    #doller{
        margin-right: 40px;
    }
    span{
        margin: 0px 23px;
    }
    .navbar ul{
        margin-left: 5px;  
    }

    
}
@media (min-width:912px) {
    #language{
        margin: 0px 10px 0px 200px;
        
    }
    #doller{
        margin-right: 40px;
    }
    span{
        margin: 0px 23px;
    }
    .navbar ul{
        margin-left: 5px;  
    }

    
}
/* @media (max-width:280px) {
    #language{
        margin: 0px 5px 0px 0px;
        
    }
    #doller{
        margin-right: 10px;
    }
    span{
        margin: 0px 3px;
    }
    .navbar ul{
        margin-left: 50px;  
    }

    
} */